  <% videos.order(:order).each do |v| %>
 
    <p><%= v.description%>
<!--     <%= v.order %>	 -->
    <%= v.title.capitalize %>
    <%= link_to 'Edit', edit_video_path(v) %></p>
   
  <% end %>
  


