<h1>Editing Curriculum</h1>
<h2> Edit Videos </h2>
<div class="videos">

<%= render "videos", :videos => @videos %>
</div>



<button class="addvideobutton">Add Videos to Cirriculum</button>
<div class="addvideo">
        <div class="addvideoform">
            <%= render 'video_form' %>
        </div>
</div>
<h2>Edit Cirriculum </h2>
<%= render 'form' %>


<% if @videos.length >= 1 %>
    <a href="/videos/<%= @videos.order(:order).first.id%>"><button>Save Curriculum</button></a>
<% end %>

