<div class="jumbotron">
  <div class="container">
      <h1>Find the best-rated video curriculums</h1>

      <p>Without the Youtube clutter.</p>
  </div>
</div>

<div class="topics dropdown">

    <li class="dropdown">
      <button class="browse btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Topics
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <% @topics.each do |topic| %>
            <li><a href="/topics/<%= topic.id %>"><%= topic.name %></a></li>
          <% end %>
      </ul>
    </li>

</div>

