<div class="jumbotron">
  <div class="container">
      <h1>Watch'n'Learn</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
  </div>
</div>

<div class="topics dropdown">

  <!-- Featured Dropdown -->
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Topics
    <span class="caret"></span>
  </button>

  <!-- Topics Dropdown List -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @topics.each do |topic| %>
      <li><a href="/topics/<%= topic.id %>"><%= topic.name %></a></li>
    <% end %>
  </ul>





</div>

