<!-- if there are no votes for this user on this video -->
<% if @votes.length < 1 %>
    <button class="vote_button vote_up" value ="1">+1</button>
    <button class="vote_down vote_button" value= "-1">-1</button>
<% else %>
<!-- if there is a vote for this user they must edit their vote-->
     <% @votes.each_with_index do |vote, index| %>
        <% if vote == @votes.last %>
          <p> the last one </p>
          <!-- do nothing -->
        <% else  %>
          <% vote.destroy %>
        <% end %>
  <% end %>
  <% @votes.each_with_index do |vote, index| %>
          <p> your vote : <%= vote.value %></p>
          <p> <%= index %> </p>
          <!-- if they voted up, they can only vote down -->
            <% if vote.value == 1 %>
              <button class="vote_button vote_up" value ="0" style="color: blue">+1</button>
              <button class="vote_down vote_button" value= "-1">-1</button>
            <!-- if they voted down, they can only vote up -->
            <% elsif vote.value == -1 %>
              <button class="vote_button vote_up" value ="1">+1</button>
              <button class="vote_down vote_button" value= "0" style="color: blue">-1</button>
          <% end %>
        
     
  <% end %>
<% end %>