/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 (from Marina): deleted the = after the * below, since this is an scss file now
 * require_tree .
 * require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "datatables.css";
/* do we need the scaffolds import below?*/
@import 'scaffolds';
@import 'topics';
@import 'users';
@import 'curriculums';
@import 'videos';
@import 'votes';
@import 'subscriptions';


// jumbotron image
.jumbotron{
    background:  url(homepage.png);
    background-size: cover; 
    color: white;
    height: 360px;
    .container{
        margin-left: 46px;
    }
    h1{
        text-align: left;
        font-size: 45px;
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
        text-shadow: 2px 2px 10px #1F242D;
    }
    p{
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
        text-shadow: 2px 2px 10px #1F242D;
    }
}

.navbar{
    margin-bottom: 0;
    background-color: #29313D;
    color: #EFE979;
}


// text color for topics, profile, and logout
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
	color: #EFE979;
}
// text color for brand name 
@import url(https://fonts.googleapis.com/css?family=Lora);.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand{
	color: #EFE979;
	font-family: 'Lora', serif;
	font-size: 22px;
}

.back{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo{
    width: 60px;
    background: url(logo.png);
    // background-size: cover;
    background-size: 41px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 8px;
}

// Styling for level dropdown on topics show page
h1 {
	div.level{
		margin: inherit;
		font-size: 18px;
	}
}


