// Place all the styles related to the Curriculums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addvideoform {
	display: none;
}

div.videos{
	text-align: center;
}
button.addvideobutton{
	margin: 0 auto;
}

#edit-curriculum {
 	width: 60%;
 	float: right;
 }
