// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    width: 100%;
    text-align: center;
}

#homebrowser{
    width: 50%;
    /* Set the margin-left and margin-right automatically set */
    margin: 0 auto; 
    text-align: center;
}

ul#homebrowser {
  margin-left: 128px;
}