// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    width: 100%;
    text-align: center;
}

// topics index page
.topics{
    list-style-type: none;
    width: 100%;
}

.topics button{
    position: relative;
    left: 25%;
    width: 50%;
}

.topics ul{
    margin-left: 25%;
    width: 50%;
}

.topics ul li{
    text-align: center;
}

// topics show page
.curric-list {
    width: 70%;
    margin-left: 25%;
    margin-top: 20px;
}

.curric-list div.row{
    border: solid 2px black;
    border-radius: 10px;
    padding: 15px 10px 0 10px;
    margin: 15px;
}

.curric-list div.row img.thumbnail{
    border: solid 1px grey;
}


