// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    width: 100%;
    text-align: center;
}

.topics{
    // position: absolute;
    // left: 50%;
    list-style-type: none;
    width: 100%;
}

.topics button{
    position: relative;
    left: 25%;
    width: 50%;
}

.topics ul{
    margin-left: 25%;
    width: 50%;
}

.topics ul li{
    text-align: center;
}

