// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.message {
  display: block;
  position: relative;
}

.style_image {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid grey;
}

.container {
	width: 60%;
}

a {
	color: black;
}

a:hover {
	color: white;
	text-decoration: none;	
}

.top {
	width: 80%;
	margin: 0 auto;
}

h2 {
	text-align: center;
}


.user_button {

	-moz-box-shadow:inset 0px -3px 7px 0px #29313D;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29313D;
	box-shadow:inset 0px -3px 7px 0px #29313D;	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#29313D;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	text-align: center;
	margin: 0 auto;
}
.user_button:hover {

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#29313D', endColorstr='#2dabf9',GradientType=0);
	background-color:#29313D;
}
.user_button:active {
	position:relative;
	top:1px;
}

.right_button {
	float: right;
	display: inline-block;
}

.created_curriculum {
	color: black;
	text-align: center;
	background-color: #A1C6F5;
	border: solid 2px white;
	
}
.created_curriculum:hover {
	color: black;
}

.curric-list-user div.row {
	border-radius: 0px;
	background-color: #A1C6F5;
	border: solid 2px white;
	padding: 15px 10px 0 10px;
  margin: 15px;
}

// curriculums display
.curric-list-user {
    width: 70%;
    margin-left: -36px;
}

div.curric-list-user {
    width: 750px;
    height: 450px;
}

// .curric-list-user div.row {
//     border: solid 2px black;
//     padding: 15px 10px 0 10px;
//     margin: 15px;
// }

.curric-list-user div.row img.thumbnail {
    border: solid 1px grey;
}

div.col-md-5 {
    text-align: left;
}
// other

.email {
	display: none;
	float: right;
}

.new_curric {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.subscribe_button {
	display: block;
}
