// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
    position:fixed;
    top:80px; bottom:0; left:20px;
    width: 30%;
    border: 1px solid ;
    border-color: white;
    background-color: #93B8EC;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    color: rgb(51, 51, 51);
    text-decoration: none	;


  
}

#sidebar a:hover {
	background-color: rgb(240, 240, 240);
	color: blue;
	text-decoration: underline;
}

#container { 
	position:relative; 
 }

 .iframe {
 	width: 60%;
 	float: right;
 }

 .back_to_currics {
    margin-left: 8%;
    margin-top: 80px

 }

a:hover {
    color:white;
 }